@tailwind base;
@tailwind components;
@tailwind utilities;

.verti{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;

}
.profile-card{
    display: flex;
    flex-direction: column;
    border-radius: 5px;
    margin-top: 4.2rem;;
    height:130px ;
    z-index: 10;
}
.profile-card>img{
    border-radius: 50%;
    width: 60px;
    height: 60px;
    cursor: pointer;
    border: 3px solid white;
}
.profile-card div>a{    
    margin: 3px 0;
    padding: 1px 8px;
    color: black;
}

.profile-card div>a:hover{
    border-width: 2px;
    border-color: white;
    background-color: green;
    color: white;
    transition: 0.9s;
}
.profile-card div{
    margin-top: 10px;
    background-color: grey;
    border-radius: 5px;
}